* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
